@import './fonts/fonts.scss', './mixins/mixin.scss',
  './variables/variables.scss', './reset/reset.scss', './components/card.scss',
  './components/cards.scss', './atoms/button.scss', './atoms/input.scss',
  './atoms/input.scss', './components/header.scss', './atoms/select.scss',
  './components/cart.scss', './atoms/listp.scss', './atoms/banner.scss',
  './components/linkproduct.scss', './components/component.scss',
  './components/title.scss', './components/minibanner.scss',
  './components/cardv2.scss', './components/cardsv2.scss', './atoms/titlep.scss',
  './atoms/cardf.scss', './components/footer.scss', './atoms/listf.scss',
  './atoms/method.scss', './components/sliderbrand.scss', './atoms/squaret.scss',
  './components/productd.scss', './atoms/slider.scss', './atoms/slides.scss',
  './components/modal.scss', './atoms/linkcategory.scss',
  './atoms/btnchild.scss', './components/quotesdes.scss', './atoms/table.scss',
  './atoms/priced.scss', './atoms/listoption.scss', './atoms/envios.scss',
  './atoms/count.scss', './components/options.scss',
  './components/optionslist.scss', './atoms/inputsquare.scss',
  './components/cartslide.scss', './components/viewcart.scss',
  './components/user.scss', './components/products.scss',
  './components/filter.scss', './components//menu.scss',
  './components/userpage.scss', './components/cartpage.scss',
  './components/container.scss', './data/data.scss';
.main {
  // background: $background;
  // height: 200vh;
  font-family: Centranube;
  // height: 100vh;çç
  // @include flex(column, nowrap, center, center, 2em);
  // @include flex(column, nowrap, center, center, 2em);
  // height: 100vh;
  background: $background;
  &__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
  }
  &__container {
    @include flex(column, nowrap, center, center, 2em);
    width: 100%;
    max-width: 35em;
  }
}
.body {
  font-family: Centranube;
}
