.inputsquare {
  // width: 100%;
  flex-grow: 3;
  &__label {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
  }
  &__input {
    border: 1px solid #ced4da;
    width: 100%;
    outline: none;
    font-size: 0.9em;
    padding: 0.75em;
  }
  &__textarea {
    height: 15em;
  }
}
