$background: #f7f7f7;
$yello: #f2b237;
$gray: #9aaeb8;
$green: #2cb1ac;
$shadow: #0f202a;
$shadow-yello: #cc8b13;
// $buttons: #1f3540;
$color-hover--list: #f2f2f2;
$color-dark: #3d464d;
$color-text: #3d464dd1;
$color-li: #262626;
$color-drop-gray: #b2b2b2;
$color-quotes: #007bff;
