@charset "UTF-8";
@font-face {
  font-family: Centranube;
  src: url("../../public/fonts/centranube-book-webfont.ttf");
}
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
.upercase {
  text-transform: capitalize;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

i {
  display: block;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none; /* Esto oculta la barra de desplazamiento */
  font-family: GothamLight;
  overflow-x: hidden;
}

select::-ms-expand {
  display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
  outline: none;
  border: none;
}

select:focus {
  outline: none;
  border: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 #ffffff;
}

/* Chrome, Edge and Safari */
button {
  cursor: pointer;
}

.card {
  background: #fff;
  width: 200px;
  box-sizing: content-box;
  padding: 1em 0;
  color: #000;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  box-shadow: 0 0 0.2em #3d464d;
  text-transform: capitalize;
}
.card:hover .card__div {
  background: #e5e5e5;
}
.card:hover .card__div > .card__i {
  background: #e5e5e5;
  color: #3d464d;
}
.card:hover .card__div > .card__i::before {
  background: #e5e5e5;
}
.card:hover .card__div > .card__i::after {
  background: #e5e5e5;
}
.card__img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.card__image {
  object-fit: contain;
  transition: 0.5s ease;
}
.card__image:hover {
  transform: scale(1.45);
  transform-origin: center;
}
.card__h2 {
  text-align: left;
  line-height: 1.3;
  font-size: 0.75em;
  height: 2.25em;
  padding: 0 1em;
}
.card__price {
  font-size: 1.3em;
  font-weight: bold;
  color: #3d464d;
}
.card__i {
  width: 1.2em;
  height: 1.2em;
  color: #a2a5a7;
  background: #fff;
}
.card__i::before {
  content: "";
  position: absolute;
  width: 0.2em;
  height: 1.1em;
  background: #fff;
  inset: 0.35em 0 0 0;
  margin: 0 auto;
}
.card__i::after {
  content: "";
  position: absolute;
  width: 1.2em;
  height: 0.2em;
  background: #fff;
  inset: 0 0 0 0;
  margin: auto;
}
.card__description {
  font-size: 0.7em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3em;
  box-sizing: content-box;
  padding: 0 1em 1em;
}
.card__stock {
  font-weight: bold;
  color: #28a745;
}
.card__stock--low {
  color: #fb9e0b;
}
.card__stock--non {
  color: rgb(255, 102, 102);
}
.card__quotes {
  text-transform: uppercase;
  color: #007bff;
  font-weight: 500;
}
.card__quotes--value {
  font-weight: bold;
}
.card__add {
  position: absolute;
  width: 100%;
  height: 3em;
  padding: 0 1em;
  top: 100%;
  background: #fff;
  display: none;
  box-shadow: 0 2.5px 0.2em #3d464d;
  z-index: 15;
}
.card__btn {
  height: 1.5em;
  width: 100%;
}
.card:hover > .card__add {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.card__modals {
  width: 100%;
  max-width: 1170px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.card__close {
  cursor: pointer;
  width: 1.2em;
  box-sizing: content-box;
  padding: 0.5em 0.5em 0 0;
  align-self: flex-end;
  color: #b2b2b2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0;
  right: 0.5em;
}
.card__close:hover {
  color: #262626;
}
.card__modal {
  color: #262626;
  background: #fff;
  position: relative;
  max-height: 620px;
  overflow: auto;
  padding: 0em 0.8em 1em;
  width: 100%;
  max-width: 1170px;
}
@media screen and (max-width: 700px) {
  .card__modal {
    max-height: 550px;
  }
}
.card__container {
  display: flex;
}

#card__divid {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 1.8em;
  height: 1.8em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
#card__divid:hover {
  background: #3d464d;
}
#card__divid:hover > .card__i {
  background: #3d464d;
  color: #fff;
}
#card__divid:hover > .card__i::before {
  background: #3d464d;
}
#card__divid:hover > .card__i::after {
  background: #3d464d;
}

.cards {
  max-width: 1070px;
  overflow: hidden;
}
.cards__container {
  width: 2360px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.99em;
  cursor: grab;
  padding: 0.4em 0.1em;
  height: 420px;
}

.button {
  width: 100%;
  background: #000;
  border-radius: 0.2em;
  color: #fff;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}
.button:hover {
  background: #3d464d;
}
.button__btn {
  font-size: 0.8em;
}

.input {
  width: 100%;
  padding: 0.8em 1.2em;
  border-radius: 5em;
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.input__input {
  width: 97%;
  outline: none;
  border: none;
  color: #000;
}
.input__input::placeholder {
  color: #3d464d;
}
.input__i {
  width: 1em;
  color: #000;
}

.input {
  width: 100%;
  padding: 0.8em 1.2em;
  border-radius: 5em;
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.input__input {
  width: 97%;
  outline: none;
  border: none;
  color: #000;
}
.input__input::placeholder {
  color: #3d464d;
}
.input__i {
  width: 1em;
  color: #000;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  background: #000;
}
.header__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
}
.header__top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-width: 1170px;
  height: 7em;
}
.header__fixed {
  width: 100%;
  background: #000;
  padding: 0 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
}
.header__bottom {
  width: 100%;
  max-width: 1170px;
  padding: 0.3em 0;
  background: #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.3em;
  position: relative;
}
@media screen and (max-width: 650px) {
  .header__nav {
    display: none;
  }
}
.header__media {
  display: none;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0.2em;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .header__media {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
.header__media:hover {
  background: #262626;
}
.header__media--i {
  cursor: pointer;
  width: 1.2em;
  box-sizing: content-box;
}
.header__products {
  background: #fff;
  margin: 0 0.5em 0 0;
  color: #b2b2b2;
  width: 13em;
  height: 3em;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0.15em solid #000;
  box-sizing: content-box;
  border-bottom: none;
}
.header__products--list {
  z-index: 10;
  position: absolute;
  border: 0.15em solid #000;
  border-top: none;
  box-sizing: content-box;
  top: 3em;
  left: 0;
  padding: 0.8em 0;
  background: #fff;
  width: inherit;
  text-transform: capitalize;
}
.header__products:hover div span i {
  color: #000;
}
.header__products i {
  color: #b2b2b2;
}
.header__brands {
  position: relative;
  background: #262626;
  color: #fff;
}
.header__input {
  flex-basis: 32em;
}
.header__wsp {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
}
.header__number {
  font-size: 1.3em;
  font-weight: bolder;
}
.header__links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.header__link {
  height: 2.5em;
  padding: 0 0.6em;
  border-radius: 0.2em;
  background: #262626;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.header__link:hover {
  background: #fff;
  color: #000;
}
.header__icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.header__list {
  width: 100%;
}
.header__stuffed {
  height: 0.6em;
  width: 17em;
  background: transparent;
  position: absolute;
  top: 100%;
}

.select {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.3em;
  background: inherit;
  color: inherit;
  cursor: pointer;
  width: 100%;
}
.select:hover {
  background: #fff;
  color: #000;
}
.select:hover > .select__i {
  color: #000;
}
.select__bar {
  width: 1em;
  color: inherit;
}
.select__text {
  color: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.7em;
}
.select__i {
  color: #fff;
  width: 0.7em;
  transform: rotate(0);
  transition: 0.5s;
}
.select__rotate {
  transform: rotate(180deg);
}

.cart {
  position: relative;
  cursor: pointer;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0.2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.cart:hover {
  background: #262626;
}
.cart:hover .cart__count {
  background: #fff;
  color: #000;
  font-weight: bolder;
}
.cart__count {
  position: absolute;
  top: -1em;
  right: -1em;
  font-size: 0.7em;
  width: 1.5em;
  height: 1.5em;
  background: #000;
  border-radius: 50%;
  font-weight: bolder;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.cart__icon {
  position: relative;
  width: 1.2em;
}
.cart__products {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.cart__container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4em;
  padding: 0.7em 0.5em;
}
.cart__product {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4em;
  position: relative;
}
.cart__i {
  cursor: pointer;
  position: absolute;
  width: 0.6em;
  top: 0.5em;
  right: 0.5em;
  color: #b2b2b2;
}
.cart__i:hover {
  color: #262626;
}
.cart__description {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
}
.cart__image {
  width: 5em;
  object-fit: scale-down;
}
.cart__h4 {
  font-weight: bold;
}
.cart__price {
  font-weight: bold;
}

.listp {
  color: #3d464d;
  background: #fff;
  width: inherit;
  position: relative;
}
.listp__list {
  height: 2.5em;
  font-size: 0.9em;
  padding: 0 0.8em;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.listp__list:hover {
  background: #f2f2f2;
}
.listp__i {
  width: 1em;
  transform: rotate(-90deg);
}
.listp__ul {
  position: absolute;
  padding: 0.5em 0;
  background: #fff;
  top: 0;
  left: 100%;
  width: inherit;
  z-index: 1;
  box-shadow: -2px 0px 5px 1px #3d464d;
}
.listp__none {
  display: none;
}
.listp__sub:hover > div > .listp__none {
  display: block;
}
.listp__sub div {
  width: 100%;
}

.banner {
  width: 100%;
  position: relative;
  cursor: grab;
}
.banner__div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  transform: translateX(-100%);
  transition: 0.1s linear;
}
.banner__container {
  width: 100%;
}
.banner__image {
  width: 100%;
  width: 100vw;
  height: auto;
  object-fit: scale-down;
  object-fit: cover;
}
.banner__buttons {
  width: 6.3em;
  height: 2em;
  background: #f7f7f7;
  position: absolute;
  bottom: -1em;
  cursor: pointer;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  border-radius: 2em;
}
.banner__btn {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background: #e0e0e0;
}

.linkproduct {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.linkproduct__section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  max-width: 1170px;
  width: 100%;
  background: #fff;
  font-size: clamp(11px, 1px + 1.8vw, 16px);
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.09);
}
.linkproduct__article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: #fff;
  color: #000;
  width: 15em;
  flex-grow: 1;
  height: 20em;
  border: 3px solid #f7f7f7;
}
.linkproduct__article:hover {
  background: #f7f7f7;
}
.linkproduct__link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}
.linkproduct__image {
  width: 14em;
  height: 14em;
  mix-blend-mode: multiply;
}
.linkproduct__span {
  text-transform: capitalize;
}
.linkproduct__p {
  color: #b2b2b2;
}

.component {
  background: transparent;
  font-size: clamp(13px, 1px + 1.8vw, 16px);
}
.component__link {
  background: #fff;
  color: #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  flex-grow: 1;
  height: 8em;
  border: 3px solid #f7f7f7;
  width: 12em;
  max-width: 12.5em;
}
.component__link:hover {
  filter: contrast(1.2);
}
.component__image {
  width: 4.7em;
  height: 4.7em;
}
.component__span {
  text-transform: capitalize;
}

.title {
  color: #fff;
  font-size: 2.5em;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.title__div {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-width: 1170px;
}
.title__p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  clip-path: polygon(0 0, 93% 0, 100% 100%, 0 100%);
  background: #000;
  width: 80%;
  height: 2em;
}

.minibanner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
}
.minibanner__section {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.minibanner__article {
  width: 500px;
  flex-grow: 1;
  min-width: 350px;
}
.minibanner__image {
  border-radius: 0.7em;
  width: 100%;
  height: auto;
}

.cardv2 {
  position: relative;
  width: 100%;
  color: #3d464d;
  height: 6.8em;
  background: #fff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.09);
  padding: 0 0.4em;
  text-transform: capitalize;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1em;
}
.cardv2:hover {
  background: #f7f7f7;
}
.cardv2__image {
  cursor: pointer;
  width: 6.5em;
  height: 6.5em;
  mix-blend-mode: multiply;
  object-fit: contain;
}
.cardv2__p {
  font-size: 0.8em;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.1em;
  padding: 0.7em 0.5em;
}
.cardv2__price {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4em;
}
.cardv2__count {
  font-size: 1.4em;
}
.cardv2__quotes {
  color: #007bff;
}
.cardv2__quote {
  font-weight: bold;
}

.cardsv2 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.cardsv2__container {
  max-width: 1170px;
  width: 100%;
  padding: 0 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.4em;
}
.cardsv2__section {
  width: 100%;
  width: 400px;
  max-width: 560px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  margin: auto;
}

.titlep {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #262626;
  text-transform: uppercase;
}
.titlep__p {
  font-size: 2em;
  font-weight: bold;
}
.titlep__ray {
  height: 0.15em;
  flex-grow: 1;
  background: #d6d5d5;
  border-radius: 1em;
}

.cardf {
  width: 360px;
  color: #262626;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  height: 15em;
  flex-grow: 1;
  border: 0.15em solid #262626;
  cursor: pointer;
}
.cardf__image {
  object-fit: scale-down;
}
.cardf__h3 {
  font-size: 1.3em;
  font-weight: bold;
}
.cardf__p {
  font-size: 1em;
  width: 14em;
  text-align: center;
}
.cardf__modal {
  position: relative;
  background: #fff;
  color: #262626;
  width: 100%;
  max-width: 500px;
}
.cardf__i {
  cursor: pointer;
  width: 1.2em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: #b2b2b2;
}
.cardf__i:hover {
  color: #262626;
}
.cardf__container {
  padding: 1.8em 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.6em;
}
.cardf__h2 {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 0.9;
  width: 100%;
}
.cardf__section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
.cardf__article {
  flex-grow: 1;
  padding: 1em;
  width: 100%;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.cardf__h4 {
  width: 100%;
  font-size: 0.85em;
}
.cardf__text {
  width: 100%;
  color: #777f87;
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  background: #fff;
  padding: 2em 0;
  position: relative;
  z-index: 55;
}
.footer__section {
  width: 97%;
  max-width: 1170px;
  padding: 0.5em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
.footer__category {
  position: relative;
}

.listf {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
  padding: 0 0.6em;
  color: #262626;
  max-width: 1170px;
}
.listf__logo {
  align-self: center;
}
.listf__h3 {
  font-weight: bold;
  font-size: 1.3em;
}
.listf__ul {
  font-size: 0.9em;
  width: 450px;
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4em;
}
.listf__li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
}
.listf__i {
  width: 1em;
  height: 1em;
}
.listf__link {
  font-weight: bold;
  cursor: pointer;
  font-size: 0.85em;
}
.listf__footer {
  width: 150px;
  flex-grow: 1;
  text-transform: capitalize;
}

.method {
  color: #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-top: 0.1em solid #b2b2b2;
  width: 100%;
  max-width: 1170px;
  padding: 0.5em 0;
}
.method__images {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.method__img {
  object-fit: contain;
}
.method__name {
  font-weight: bold;
}

.sliderbrand {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.sliderbrand__div {
  width: 100%;
  max-width: 1170px;
  overflow: hidden;
}
.sliderbrand__container {
  transform: translateX(-1550px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
  transition: 0.5s linear;
}
.sliderbrand__image {
  object-fit: scale-down;
  mix-blend-mode: multiply;
  cursor: pointer;
}

@keyframes carruzel {}
.squaret {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}
.squaret__links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8em;
}
.squaret__link {
  background: #000;
  color: #fff;
  transform: skew(-15deg);
  border-radius: 0.15em;
  padding: 0.25em;
  text-transform: capitalize;
}
.squaret__p {
  transform: skew(15deg);
  text-align: center;
  font-size: 0.85em;
}

[data-name=true] {
  background: transparent;
  color: #262626;
}

.productd {
  background: #f7f7f7;
  color: #262626;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.productd__detail {
  width: 100%;
  max-width: 1170px;
  padding: 1em 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5em;
}
.productd__images {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.7em;
  width: 100%;
  max-width: 20em;
}
.productd__article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  background: #fff;
  width: 100%;
  max-width: 20em;
  height: 22em;
  position: relative;
  box-shadow: 0 0 0 2px #f2f2f2 inset;
}
.productd__i {
  height: 2.4em;
  width: 2.4em;
  position: absolute;
  top: 0em;
  right: 0em;
  cursor: pointer;
  z-index: 5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.productd__i:hover {
  background: #b2b2b2;
}
.productd__i:hover .productd__zoom {
  color: #262626;
}
.productd__zoom {
  width: 1.3em;
  height: 1.3em;
  color: #b2b2b2;
}
.productd__image {
  width: 320px;
  object-fit: scale-down;
}
.productd__slides {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4em;
  width: 100%;
  max-width: 20em;
}
.productd__flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4em;
  width: 100%;
}
.productd__all {
  width: 100%;
  border-top: 2px solid #ebebeb;
  height: 2em;
  color: #262626;
  height: 3em;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.slider {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0em;
  width: 100%;
  transition: 0.5s ease;
}
.slider__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4em;
  position: absolute;
  bottom: 1em;
}
.slider__button {
  cursor: pointer;
}
.slider__button i {
  width: 1.5em;
  height: 1.5em;
}
.slider__left {
  transform: rotate(90deg);
}
.slider__right {
  transform: rotate(-90deg);
}

.slides {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4em;
  width: 100%;
}
.slides__div {
  cursor: pointer;
  padding: 0.4em;
  background: #fff;
  width: 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 4.6em;
}
.slides__image {
  object-fit: contain;
}
.slides__buttons {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.slides__width {
  width: 25em;
  overflow: hidden;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 700px) {
  .slides__width {
    width: 17em;
  }
}
.slides__container {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  transition: 0.5s ease;
}
.slides__modal {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.slides__img {
  width: inherit;
  height: 25em;
  object-fit: scale-down;
}
@media screen and (max-width: 700px) {
  .slides__img {
    height: auto;
  }
}
.slides__r {
  position: absolute;
  right: 1em;
}
.slides__l {
  position: absolute;
  left: 1em;
}
.slides__close {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 1em;
  right: 1em;
  color: #fff;
  cursor: pointer;
}

[data-image=true] {
  border: 0.15em solid #262626;
}

[data-size=true] svg {
  width: 2em;
  height: 2em;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 65;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5em);
  padding: 0 1em;
}

[data-modal=true] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0;
  padding: 0;
}

.linkcategory {
  border: 1px solid #e5e5e5;
  color: #262626;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 0.4em 0.7em;
  border-radius: 1.5px;
  font-size: 0.8em;
}
.linkcategory:hover {
  color: #fff;
  background: #3d464d;
}
.linkcategory__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3em;
}

.btnchild {
  background: #eeeeee;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.2em;
  font-size: 0.8em;
  padding: 0.4em 0.7em;
  border-radius: 0.1em;
  text-transform: capitalize;
}
.btnchild__name {
  color: gray;
}

.quotesdes {
  flex-grow: 1;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.quotesdes__h2 {
  font-size: 1.7em;
  font-weight: bold;
}
.quotesdes__child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4em;
}
.quotesdes__buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4em;
}

.table {
  flex-grow: 1;
  background: #fff;
  width: 100%;
  box-sizing: content-box;
}
.table__table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}
.table__thead {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 2.5em;
  border: 1px solid #f0f0f0;
}
.table__tr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: blue;
  width: 100%;
  border: 1px solid #f0f0f0;
  height: 2.5em;
  background: #fff;
}
.table__tr:hover {
  background: #f7f7f7;
}
.table__td {
  width: 33.3333333333%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.priced {
  color: #fff;
  background: #000;
  font-weight: bold;
  height: 110px;
  padding: 0.7em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.priced__all {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.priced__div {
  font-size: 1.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4em;
}
.priced__p {
  font-size: 0.5em;
}
.priced__section {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.listoption {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background: #fff;
  box-shadow: 0 0 0 2px #f2f2f2 inset;
  height: 6em;
  cursor: pointer;
}
.listoption__image {
  width: 2.6em;
  height: 2.6em;
}
.listoption__div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.2em;
}
.listoption__h3 {
  font-weight: bold;
}
.listoption__p {
  font-size: 0.85em;
}

.envios {
  background: #fff;
  box-shadow: 0 0 0 2px #f2f2f2 inset;
  height: 3.5em;
  padding: 0.4em 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4em;
}
.envios__h3 {
  color: gray;
  font-size: 0.75em;
}
.count__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
}
.count__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  background: #fff;
  border: 1px solid gray;
  height: 3em;
  flex-grow: 1;
}
.count__menos {
  height: 100%;
  width: 1em;
  color: #b2b2b2;
  font-size: 1.2em;
}
.count__menos:hover {
  color: #000;
  background: #b2b2b2;
}
.count__more {
  height: 100%;
  width: 1em;
  color: #b2b2b2;
  font-size: 1.2em;
}
.count__more:hover {
  color: #000;
  background: #b2b2b2;
}
.count__add {
  flex-grow: 1;
  height: 3em;
  background: #000;
  color: #fff;
}
.count__add:hover {
  background: #3d464d;
}

.options {
  width: 100%;
  max-width: 1170px;
}
.options__description {
  width: 100%;
  background-color: #fff;
  color: #262626;
  box-shadow: 0 0 0 2px #f2f2f2 inset;
  font-size: 1em;
  line-height: 1.5;
  padding: 2em 2.5em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.options__title {
  font-size: 1.5em;
  font-weight: bold;
}
.options__comment {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
.options__flex {
  flex-grow: 2;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.options__stars {
  font-size: 2em;
}
.options__btn {
  background: #000;
  color: #fff;
  align-self: flex-start;
  font-size: 1.1em;
  padding: 1em;
}
.options__btn:hover {
  background: #3d464d;
}

.optionslist {
  width: 100%;
}
.optionslist__div {
  text-transform: capitalize;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.optionslist__text {
  cursor: pointer;
  font-size: 1.4em;
  color: #262626;
  padding: 1em 1.5em;
}

[data-text=true] {
  border-bottom: 0.1em solid #262626;
}

.inputsquare {
  flex-grow: 3;
}
.inputsquare__label {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
.inputsquare__input {
  border: 1px solid #ced4da;
  width: 100%;
  outline: none;
  font-size: 0.9em;
  padding: 0.75em;
}
.inputsquare__textarea {
  height: 15em;
}

.cartslide {
  background: #fff;
  color: #262626;
  height: 100%;
  width: 20em;
  display: flex;
  flex-direction: column;
}
.cartslide__top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 1em;
  border-bottom: 1px solid #ebebeb;
}
.cartslide__title {
  font-weight: bold;
}
.cartslide__i {
  width: 0.8em;
  cursor: pointer;
  color: #b2b2b2;
}
.cartslide__products {
  flex-grow: 3;
  width: 100%;
  padding: 0.6em;
  overflow: auto;
}
.cartslide__bottom {
  border-top: 1px solid #ebebeb;
}

.viewcart {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  padding: 1em;
  height: 100%;
  color: #262626;
}
.viewcart__cero {
  padding: 1.5em 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
}
.viewcart__total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
.viewcart__span {
  font-weight: bold;
}
.viewcart__price {
  font-weight: 100;
}
.viewcart__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}
.viewcart__btn {
  padding: 0.7em 0;
  flex-grow: 1;
  border-radius: 0.2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.viewcart__btncart {
  background: #f0f0f0;
  color: #3d464d;
  cursor: pointer;
}
.viewcart__btncart:hover {
  background: #3d464d;
  color: #fff;
}
.viewcart__btnend {
  background: #000;
  color: #fff;
}
.viewcart__btnend:hover {
  background: #3d464d;
  color: #fff;
}

.user {
  position: relative;
}
.user__container {
  box-sizing: content-box;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 20;
  width: 14em;
  height: auto;
  padding: 1em 0.5em;
  color: #262626;
  background: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.user__div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}
.user__inputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.user__h3 {
  font-weight: bold;
}
.user__btn {
  background: #000;
  width: 80%;
  height: 2em;
  color: #fff;
}
.user__btn:hover {
  background: #3d464d;
}
.user__on {
  font-size: 0.8em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.user__on--email {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em 0.5em;
  border-bottom: 1px solid #ebebeb;
}
.user__on--email:hover {
  background: #f2f2f2;
}
.user__on--i {
  width: 1em;
}
.user__on--exit {
  width: 100%;
  padding: 0.4em;
  border-radius: 0.2em;
  text-align: left;
  font-size: 1em;
  padding: 1em 0.5em;
}
.user__on--exit:hover {
  background: #f2f2f2;
}

.products {
  background: #f7f7f7;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.products__order {
  width: 100%;
  color: #000;
}
.products__container {
  width: 100%;
  max-width: 1170px;
  padding: 1em 0.3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.products__flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
.products__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
.products__all {
  flex-grow: 1;
  width: 100%;
  color: #262626;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.products__column {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.products__count {
  width: 100%;
  font-size: 1.1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.products__length {
  width: 100%;
  max-width: 13em;
}
.products__image {
  width: 15em;
  height: auto;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.products__none {
  font-size: 2.4em;
  font-weight: bold;
  letter-spacing: 1px;
}

.filter {
  color: #262626;
  max-width: 15em;
  position: relative;
  width: 100%;
  font-weight: bold;
}
.filter__fixed {
  width: 100%;
  top: 76px;
  width: 15em;
  background: #fff;
  padding: 0 1em;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.filter__title {
  width: 100%;
  font-size: 1.3em;
  padding: 1em;
  font-weight: bold;
  border-bottom: 2px solid #ebebeb;
}
.filter__input {
  width: 100%;
  padding: 1em;
  border-bottom: 2px solid #ebebeb;
}
.filter__category {
  width: 100%;
  font-weight: bold;
  padding: 0.5em 1em;
  border-bottom: 2px solid #ebebeb;
}
.filter__brand {
  padding: 0.5em 1em;
  width: 100%;
  flex-grow: 1;
  border-bottom: 2px solid #ebebeb;
}
.filter__button {
  background: #000;
  color: #fff;
  padding: 0.5em;
  border-radius: 0.2em;
  align-self: flex-end;
  margin: 0.5em;
}
.filter__button:hover {
  background: #3d464d;
}
.filter__ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.25em;
  padding: 0 0 0 0.5em;
  margin: 0.5em 0 0 0;
  text-transform: capitalize;
  font-weight: bold;
}
.filter__lii {
  cursor: pointer;
}
.filter__li {
  cursor: pointer;
}
.filter__sub {
  padding: 0 0 0 0.5em;
  margin: 0.5em 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.25em;
}
.filter__subli {
  cursor: pointer;
}

.menu {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  color: #262626;
}
.menu__div {
  width: 100%;
  max-width: 18em;
  position: relative;
  background: #fff;
  height: 100vh;
}
.menu__menu {
  font-weight: bold;
  font-size: 1.3em;
}
.menu__top {
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  border-bottom: 1px solid #ebebeb;
}
.menu__container {
  width: 100%;
  overflow: auto;
  height: calc(100vh - 60px);
}
.menu__close {
  cursor: pointer;
  width: 1.2em;
  color: #b2b2b2;
}
.menu__close:hover {
  color: #262626;
}
.menu__h4 {
  cursor: pointer;
  font-weight: bold;
  padding: 0.8em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.menu__down {
  width: 1.2em;
  transition: 0.5s ease;
}

.userpage {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.userpage__intro {
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.09);
  padding: 1.4em 1em;
  max-width: 480px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  height: 513px;
}
@media screen and (max-width: 1030px) {
  .userpage__intro {
    height: auto;
  }
}
.userpage__h4 {
  font-size: 1.9em;
  font-weight: bold;
}
.userpage__form {
  width: 100%;
  flex-grow: 1;
  max-width: 480px;
  background: #fff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.09);
  padding: 1.4em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.userpage__inputs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
.userpage__btn {
  align-self: flex-start;
  background: #000;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 0.2em;
}
.userpage__btn:hover {
  background: #3d464d;
}

.cartpage {
  background: #f7f7f7;
  color: #262626;
  padding: 1em 0.5em;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
}
.cartpage__page {
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.cartpage__h2 {
  font-weight: bold;
  font-size: 2em;
}
.cartpage__article {
  border-top: 1px solid #ebebeb;
  height: 6em;
}
.cartpage__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}
.cartpage__micart {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}
.cartpage__div {
  width: 100%;
  max-width: 700px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
}
@media screen and (max-width: 1130px) {
  .cartpage__div {
    max-width: 100%;
  }
}
.cartpage__table {
  background: #fff;
  width: 100%;
}
.cartpage__thead {
  height: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
}
.cartpage__thead {
  height: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
}
.cartpage__img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3em;
}
.cartpage__image {
  object-fit: contain;
}
.cartpage__tr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}
.cartpage__trhead {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100%;
}
.cartpage__td {
  width: 25%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
}
.cartpage__th {
  height: 100%;
  width: 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
}
.cartpage__name {
  display: block;
  width: 7em;
}
.cartpage__total {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
  flex-grow: 1;
  padding: 1em 0.5em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}
.cartpage__price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4em;
  font-weight: bold;
  font-size: 1.5em;
}
.cartpage__end {
  font-size: 1em;
  padding: 1em 0.5em;
  text-transform: uppercase;
  background: #000;
  color: #fff;
}
.cartpage__quotes {
  display: flex;
  width: 100%;
}
.cartpage__buy {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}
@media screen and (max-width: 1130px) {
  .cartpage__buy {
    max-width: 100%;
    flex-direction: column-reverse;
  }
}
.cartpage__null {
  display: block;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
}
.cartpage__results {
  color: #006c00;
  font-weight: bold;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  background: #f7f7f7;
  color: #262626;
}
.container__container {
  width: 100%;
  max-width: 1170px;
  padding: 1em 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2em;
}
.container__h4 {
  font-weight: bold;
  font-size: 1.9em;
}

[data-list=true] {
  top: 3.15em;
  border: none;
  height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 17em;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.09);
}

[data-column=true] {
  width: 100%;
  position: relative;
  border: none;
  padding: 0;
  top: 0;
  cursor: pointer;
}

[data-i=true] {
  transform: rotate(0deg);
}

[data-ul=true] {
  position: static;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
}

[data-ul=true] li {
  padding: 0 0 0 1.2em;
}

[data-none=true] {
  padding: 0;
  display: none !important;
}

[data-none=true] {
  padding: 0;
  display: none !important;
}

.order {
  color: #000;
  width: 100%;
  max-width: 10em;
  background: #fff;
  position: relative;
  border: 1px solid #000;
  box-sizing: border-box;
}
.order div div i {
  color: #000;
}
.order__absolute {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #fff;
  z-index: 50;
  left: -1px;
  border: 1px solid #000;
  border-top: none;
  box-sizing: content-box;
}
.order__map {
  color: #000;
}
.order__li {
  cursor: pointer;
}

.register {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5em;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .register {
    flex-direction: column;
  }
}
.register__menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  max-width: 13em;
  height: 20em;
  background: transparent;
  box-shadow: 0 0 0 2px #f2f2f2 inset;
}
.register__menu--text {
  font-weight: bold;
  padding: 0.8em 0.7em;
}
@media screen and (max-width: 900px) {
  .register__menu--text {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .register__menu {
    flex-direction: row;
    height: auto;
    max-width: 100%;
    border-bottom: 2px solid #dfdddd;
    position: relative;
    height: 43.38px;
  }
}
.register__span {
  font-size: 1.3em;
}
.register__ul {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .register__ul {
    flex-direction: row;
    position: absolute;
    top: 0;
  }
}
.register__li {
  padding: 0.7em;
  color: rgba(61, 70, 77, 0.8196078431);
  cursor: pointer;
}
.register__dates {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
@media screen and (max-width: 900px) {
  .register__dates {
    width: 100%;
  }
}
.register__init {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5em;
  width: 100%;
}
@media screen and (max-width: 720px) {
  .register__init {
    flex-direction: column;
  }
}
.register__image {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  height: 20em;
  width: 20em;
  background: #fff;
  color: rgba(61, 70, 77, 0.8196078431);
  box-shadow: 0 0 0 2px #f2f2f2 inset;
  flex-grow: 1;
}
@media screen and (max-width: 720px) {
  .register__image {
    width: 100%;
  }
}
.register__img {
  border-radius: 50%;
}
.register__name {
  font-weight: 600;
  color: #3d464d;
}
.register__btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
}
.register__edit {
  width: 100%;
  background: #f0f0f0;
  padding: 0.5em 0.7em;
  border-radius: 0.2em;
}
.register__edit:hover {
  background: #3d464d;
  color: #fff;
}
.register__address {
  background: #fff;
  height: 20em;
  width: 20em;
  box-shadow: 0 0 0 2px #f2f2f2 inset;
  padding: 1em 1.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
  position: relative;
  flex-grow: 1;
}
@media screen and (max-width: 720px) {
  .register__address {
    width: 100%;
  }
}
.register__mis {
  position: absolute;
  background: #262626;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.75em;
  padding: 0.5em;
  top: 0;
  right: 2em;
}
.register__textinit {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  width: 100%;
}
.register__h2 {
  width: 100%;
  font-weight: bold;
}
.register__addres {
  width: 100%;
}
.register__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1em;
  padding: 0.5em 0;
  width: 100%;
  border-bottom: 1px solid #dfdddd;
}
.register__info {
  font-size: 0.76em;
  color: rgba(61, 70, 77, 0.8196078431);
}
.register__button {
  width: 100%;
  text-align: left;
  padding: 1em 0;
  color: #000;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: 500;
}
.register__modal {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: #fff;
  padding: 2em 1.5em;
  position: relative;
}
.register__modal form {
  box-shadow: none;
}
.register__i {
  width: 1em;
  color: rgba(61, 70, 77, 0.8196078431);
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}
.register__i:hover {
  color: #000;
}
.register__informacion {
  font-weight: bold;
  font-size: 1.8em;
}

[data-li-select=true] {
  border-left: 2px solid #262626;
}
@media screen and (max-width: 900px) {
  [data-li-select=true] {
    border: none;
    border-bottom: 2px solid #262626;
  }
}

.orders {
  background: #fff;
  box-shadow: 0 0 0 2px #f2f2f2 inset;
  width: 100%;
}
.orders__h2 {
  font-weight: bold;
  font-size: 1.3em;
  padding: 1em;
  border-bottom: 2px solid #ebebeb;
}
.orders__table {
  width: 100%;
}
.orders__thead {
  width: 100%;
}
.orders__tr {
  width: 100%;
  border: 2px solid #ebebeb;
}
.orders__th {
  width: 20%;
  padding: 1em;
  text-transform: uppercase;
  color: rgba(61, 70, 77, 0.8196078431);
  font-size: 0.9em;
  font-weight: normal;
  text-align: left;
}
.orders__view {
  cursor: pointer;
}
.orders__products {
  font-size: 0.9em;
}
.orders__modal {
  background: #fff;
  width: 100%;
  height: 35em;
  max-width: 30em;
  position: relative;
  text-transform: capitalize;
  padding: 2em 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
}
.orders__title--bil {
  font-size: 1.5em;
  font-weight: bold;
}
.orders__close {
  width: 1.2em;
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  cursor: pointer;
  color: #b2b2b2;
}
.orders__close:hover {
  color: #3d464d;
}
.orders__array {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
.orders__map {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
  width: 100%;
  overflow: auto;
}
.orders__bil {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.orders__pro {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.orders__image {
  object-fit: contain;
}
.orders__price {
  font-weight: bold;
}
.orders__total {
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.main {
  font-family: Centranube;
  background: #f7f7f7;
  padding: 0 0 2em 0;
}
.main__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.main__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  max-width: 35em;
}

.body {
  font-family: Centranube;
}

/*# sourceMappingURL=main.css.map */
