.cardarma {
  width: 100%;
  @include flex(column, nowrap, flex-start, flex-start, 0.5em);
  &__article {
    width: 100%;
    @include flex(row, nowrap, flex-start, center, 0.5em);
  }
  &__container {
    @include flex(row, nowrap, center, center, 0.5em);
    flex-grow: 4;
    width: 100%;
  }
  &__image {
    object-fit: contain;
  }
  &__p {
    // width: 225px;
    text-transform: capitalize;
  }
  &__price {
    width: 100%;
    max-width: 5em;
    flex-grow: 1;
    font-weight: bold;
    // background: green;
  }
}
