.card {
  background: #fff;
  width: 200px;
  box-sizing: content-box;
  padding: 1em 0;
  color: #000;
  position: relative;
  @include flex(column, nowrap, center, flex-start, 1em);
  box-shadow: 0 0 0.2em $color-dark;
  text-transform: capitalize;
  &:hover .card__div {
    background: #e5e5e5;
  }

  &:hover .card__div > .card__i {
    background: #e5e5e5;
    color: $color-dark;
  }
  &:hover .card__div > .card__i::before {
    background: #e5e5e5;
  }
  &:hover .card__div > .card__i::after {
    background: #e5e5e5;
  }
  &__img {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  &__image {
    // object-fit: scale-down;
    object-fit: contain;
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.45);
      transform-origin: center;
    }
  }
  &__h2 {
    text-align: left;
    line-height: 1.3;
    font-size: 0.75em;
    height: 2.25em;
    padding: 0 1em;
  }
  &__price {
    font-size: 1.3em;
    font-weight: bold;
    color: $color-dark;
  }
  &__i {
    width: 1.2em;
    height: 1.2em;
    color: #a2a5a7;
    background: #fff;
  }
  &__i::before {
    content: '';
    position: absolute;
    width: 0.2em;
    height: 1.1em;
    background: #fff;
    inset: 0.35em 0 0 0;
    margin: 0 auto;
  }
  &__i::after {
    content: '';
    position: absolute;
    width: 1.2em;
    height: 0.2em;
    background: #fff;
    inset: 0 0 0 0;
    margin: auto;
  }
  &__description {
    font-size: 0.7em;
    @include flex(column, nowrap, flex-start, flex-start, 0.3em);
    box-sizing: content-box;
    padding: 0 1em 1em;
  }
  &__stock {
    font-weight: bold;
    color: #28a745;
    &--low {
      color: #fb9e0b;
    }
    &--non {
      color: rgb(255, 102, 102);
    }
  }
  &__quotes {
    text-transform: uppercase;
    color: $color-quotes;
    font-weight: 500;
    &--value {
      font-weight: bold;
    }
  }
  &__add {
    position: absolute;
    width: 100%;
    height: 3em;
    padding: 0 1em;
    top: 100%;
    background: #fff;
    display: none;
    box-shadow: 0 2.5px 0.2em $color-dark;
    z-index: 15;
  }
  &__btn {
    height: 1.5em;
    width: 100%;
  }
  &:hover > .card__add {
    @include flex(column, nowrap, center, center, 0);
  }
  &__modals {
    width: 100%;
    max-width: 1170px;
    background: #fff;
    display: flex;
    flex-direction: column;
  }
  &__close {
    cursor: pointer;
    width: 1.2em;
    box-sizing: content-box;
    padding: 0.5em 0.5em 0 0;
    align-self: flex-end;
    color: $color-drop-gray;
    @include flex(row, nowrap, flex-end, flex-end, 0);
    right: 0.5em;
    &:hover {
      color: $color-li;
    }
  }
  &__modal {
    color: $color-li;
    background: #fff;
    position: relative;
    max-height: 620px;
    overflow: auto;
    padding: 0em 0.8em 1em;
    width: 100%;
    max-width: 1170px;
    @include responsive(700px) {
      max-height: 550px;
    }
  }
  &__container {
    display: flex;
  }
}
#card__divid {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 1.8em;
  height: 1.8em;
  @include flex(row, nowrap, center, center, 0);
  &:hover {
    background: $color-dark;
  }
  &:hover > .card__i {
    background: $color-dark;
    color: #fff;
  }
  &:hover > .card__i::before {
    background: $color-dark;
  }
  &:hover > .card__i::after {
    background: $color-dark;
  }
}
