.cart {
  position: relative;
  cursor: pointer;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0.2em;
  @include flex(row, nowrap, center, center, 1em);
  &:hover {
    background: #262626;
  }
  &:hover .cart__count {
    background: #fff;
    color: #000;
    font-weight: bolder;
  }
  &__count {
    position: absolute;
    top: -1em;
    right: -1em;
    font-size: 0.7em;
    width: 1.5em;
    height: 1.5em;
    background: #000;
    border-radius: 50%;
    font-weight: bolder;
    @include flex(row, nowrap, center, center, 1em);
  }
  &__icon {
    position: relative;
    width: 1.2em;
  }
  &__products {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  &__container {
    width: 100%;
    @include flex(row, nowrap, flex-start, center, 0.4em);
    padding: 0.7em 0.5em;
  }
  &__product {
    width: 100%;
    @include flex(row, nowrap, flex-start, flex-start, 0.4em);
    position: relative;
  }
  &__i {
    cursor: pointer;
    position: absolute;
    width: 0.6em;
    top: 0.5em;
    right: 0.5em;
    color: $color-drop-gray;
    &:hover {
      color: $color-li;
    }
  }
  &__description {
    flex-grow: 1;
    height: 100%;
    @include flex(column, nowrap, flex-start, flex-start, 0.5em);
  }
  &__image {
    width: 5em;
    object-fit: scale-down;
    // object-fit: contain;
  }
  &__h4 {
    font-weight: bold;
  }
  &__price {
    font-weight: bold;
  }
}
