.cartpage {
  @include flex(column, wrap, center, center, 0em);
  background: $background;
  color: $color-li;
  padding: 1em 0.5em;
  width: 100%;
  &__spinner {
    position: relative;
    z-index: 100;
  }
  &__modal {
    @include flex(column, nowrap, center, center, 1em);
    position: relative;
    background: #fff;
    width: 30em;
    height: 30em;
    padding: 1em;
    &--container {
      padding: 0;
    }
    &--article {
      padding: 0.5em;
    }
  }
  &__buyss {
    position: relative;
    width: 100%;
  }
  &__mercadopago {
    display: block;
    background: $mercadopago-color;
    color: #fff;
    width: 100%;
    padding: 0.9em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
    &:hover {
      background: #007bb0;
    }
  }
  &__message {
    width: 100%;
    position: absolute;
    top: 200%;
    color: $color-error;
    text-align: center;
  }
  &__preferences {
    height: 3em;
    width: 100%;
  }
  &__text {
    font-size: 0.85em;
  }
  &__page {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap: 3em;
  }
  &__h2 {
    font-weight: bold;
    font-size: 2em;
  }
  &__article {
    border-top: 1px solid #ebebeb;
    height: 6em;
  }
  &__container {
    @include flex(row, wrap, flex-start, flex-start, 0);
    width: 100%;
  }
  &__micart {
    width: 100%;
    @include flex(row, wrap, center, flex-start, 2em);
  }
  &__div {
    width: 100%;
    max-width: 700px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    @include responsive(1130px) {
      max-width: 100%;
    }
  }
  &__table {
    background: #fff;
    width: 100%;
  }
  &__thead {
    height: 3em;
    @include flex(row, nowrap, center, center, 0em);
  }
  &__thead {
    height: 3em;
    @include flex(row, nowrap, center, center, 0em);
  }
  &__img {
    @include flex(row, nowrap, flex-start, center, 0.3em);
  }
  &__image {
    object-fit: contain;
  }
  &__tr {
    @include flex(row, nowrap, flex-start, flex-start, 0);
    width: 100%;
  }
  &__trhead {
    width: 100%;
    @include flex(row, nowrap, center, center, 0);
    height: 100%;
  }
  &__td {
    width: 25%;
    height: 100%;
    @include flex(row, nowrap, center, center, 0em);
  }
  &__th {
    height: 100%;
    width: 25%;
    @include flex(row, nowrap, center, center, 0em);
  }
  &__name {
    display: block;
    width: 7em;
  }
  &__total {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    flex-grow: 1;
    padding: 1em 0.5em;
    width: 100%;
    box-sizing: border-box;
    @include flex(column, nowrap, center, center, 2.5em);
  }
  &__price {
    @include flex(row, nowrap, flex-start, flex-start, 0.4em);
    font-weight: bold;
    font-size: 1.5em;
  }
  &__end {
    font-size: 1em;
    padding: 1em 0.5em;
    text-transform: uppercase;
    background: #000;
    color: #fff;
  }
  &__quotes {
    display: flex;
    width: 100%;
  }
  &__buy {
    width: 100%;
    max-width: 350px;
    @include flex(row, wrap, flex-start, flex-start, 2em);
    @include responsive(1130px) {
      max-width: 100%;
      flex-direction: column-reverse;
    }
  }
  &__null {
    display: block;
    // box-sizing: content-box;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
  }
  &__results {
    color: #006c00;
    font-weight: bold;
  }
}
