.filtermobile {
  &__category {
    width: 100%;
    padding: 0;
    &--brand {
      width: 100%;
      @include flex(row, nowrap, space-between, flex-start, 0.5em);
      padding: 0.5em;
      &:hover {
        background: #ebebeb;
      }
    }
  }
  &__i {
    width: 1em;
  }
  &__ul {
    padding: 0;
    margin: 0;
    // & ul {
    //   padding: 0;
    //   margin: 0;
    // }
  }
  &__sub {
    padding: 0 0.5em;
    width: 100%;
  }
  &__subli {
    width: 100%;
    cursor: pointer;
    &:hover {
      background: #ebebeb;
    }
  }
  &__li {
    width: 100%;
    padding: 0 0.5em;
    &:hover {
      background: #ebebeb;
    }
  }
}
