.products {
  background: $background;
  width: 100%;
  @include flex(column, nowrap, center, center, 0);
  &__order {
    // width: 5em;
    width: 100%;
    color: #000;
  }
  &__container {
    width: 100%;
    max-width: 1170px;
    padding: 1em 0.3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  &__flex {
    @include flex(row, nowrap, flex-start, flex-start, 1em);
    margin: 0 0 3em 0;
  }
  &__cards {
    @include flex(row, wrap, center, flex-start, 1em);
    align-content: flex-start;
    min-height: 100vh;
  }
  &__all {
    flex-grow: 1;
    width: 100%;
    color: $color-li;
    @include flex(column, nowrap, center, center, 1.5em);
  }
  &__column {
    width: 100%;
    @include flex(column, nowrap, center, center, 1em);
  }
  &__count {
    width: 100%;
    font-size: 1.1em;
    @include flex(row, nowrap, flex-start, center, 1em);
  }
  &__length {
    width: 100%;
    // max-width: 13em;
  }
  &__image {
    width: 15em;
    height: auto;
    // aspect-ratio: 16 / 9;
    object-fit: contain;
    mix-blend-mode: multiply;
  }
  &__none {
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &__filters {
    display: block;
    @include responsive(700px) {
      display: none;
    }
    &--container {
      cursor: pointer;
      border: 1px solid $border-gray;
      padding: 0 0.3em;
      @include flex(row, nowrap, center, center, 0);
      &:hover {
        background: #ebebeb;
      }
    }
    &--icon {
      width: 2em;
      box-sizing: content-box;
      padding: 0.2em;
    }
    &--mobile {
      display: block;
      font-size: 0.9em;
      width: 100%;
      height: 100vh;
    }
    &--p {
      width: 3.5em;
    }
  }
}
